= "Hey #{@name},"

%p I setup a free beta account for your at http://invoicethat.com.

%p 
  With this account, you can use all of the features that a paid subscription 
  would have, so feel free to get started invoicing your clients anytime.
%p 
  You can login to the site with the following:
  %ul
    %li= "Email: #{@email}"
    %li= "Password: #{@password}"

%p 
  For security measures, it would be a really good idea for you to change your
  password after logging in the first time.

%p If you run into any snags along the way, please let me know.

%p Enjoy,

%p Chip